<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary p-5">
        <a class="navbar-brand font-weight-light" href="/">Login</a>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            {{#if loggedIn}}
            <a class="navbar-brand font-weight-light" href="/dashboard">Home</a>
            <a class="navbar-brand font-weight-light" href="/logout">Logout</a>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer class="footer bg-primary mb-0">Thanks for visiting!</footer>
  </body>
</html>