<h2 class="h2 mt-5 mb-5">Create a Post</h2>

<div class="container-fluid mt-5 mb-5">
  <form>
  <div class="form-group">
    <label for="post-content">Add a Post</label>
    <textarea class="form-control" name="post-content" id="post-content" placeholder="post details" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="post-url">Post URL</label>
    <input class="form-control" name="post-url" id="post-url" placeholder="URL address" type="text" />
  </div>
  <button class="btn btn-primary" id="submitPostBtn" type="submit">Submit</button>
  </form>
</div>

<script src="/javascript/create-post.js"></script>