<h2 class="h2 mt-5 mb-5">Update a Post</h2>

<div class="container-fluid mt-5 mb-5">
  <form>
  <div class="form-group">
    <label for="post-title">Title</label>
    <input class="form-control" name="post-title" id="post-title" placeholder="URL address" type="text" />
  </div>
  <div class="form-group">
    <label for="post-content">Update Post</label>
    <textarea class="form-control" name="post-content" id="post-content" placeholder="post details" type="text"></textarea>
  </div>
  <button class="btn btn-primary" id="submitUpdateBtn" type="submit">Submit</button>
  </form>
</div>

<script src="/javascript/update.js"></script>